<form>
  <h4>Position</h4>
  <mat-select [(value)]="selectedPosition">
    <mat-option value="0">All</mat-option>
    <mat-option *ngFor="let pos of getPositions(); let i = index" value="i + 1">
      {{ i | formatPosition }}
    </mat-option>
  </mat-select>
  <h4>Team</h4>
  <mat-select [(value)]="selectedTeam">
    <mat-option value="0">All</mat-option>
    <mat-option *ngFor="let team of getTeams(); let i = index" value="i + 1">
      {{ i + 1 | formatTeam }}
    </mat-option>
  </mat-select>
  <h4>Price</h4>
  <ng5-slider
    [(value)]="priceOptions.value"
    [(highValue)]="priceOptions.highValue"
    [options]="priceOptions.options"
  ></ng5-slider>
  <button mat-raised-button color="primary">Apply</button>
  <button mat-raised-button>Reset</button>
</form>
