<div class="container">
  <div class="filter">
    <mat-select
      (selectionChange)="modeChanged($event)"
      [(value)]="selectedMode"
    >
      <mat-option *ngFor="let mode of getModes()" value="{{ mode }}">
        Show {{ mode }}
      </mat-option>
    </mat-select>
  </div>
  <div class="filter">
    <mat-select
      (selectionChange)="positionChanged($event)"
      [(value)]="selectedPosition"
    >
      <mat-option value="-1">All positions</mat-option>
      <mat-option
        *ngFor="let pos of getPositions(); let i = index"
        value="{{ i }}"
      >
        {{ i | formatPosition }}
      </mat-option>
    </mat-select>
  </div>
  <div class="filter">
    <mat-select
      (selectionChange)="teamChanged($event)"
      [(value)]="selectedTeam"
    >
      <mat-option value="-1">All teams</mat-option>
      <mat-option
        *ngFor="let team of getTeams(); let i = index"
        value="{{ i }}"
      >
        {{ i | formatTeam }}
      </mat-option>
    </mat-select>
  </div>
  <div class="filter">
    <mat-select
      (selectionChange)="costChanged($event)"
      [(value)]="selectedCost"
    >
      <mat-option *ngFor="let cost of getCosts()" value="{{ cost }}">
        &lt;= {{ cost }}m
      </mat-option>
    </mat-select>
  </div>

  <button mat-button [disabled]="disableReset" (click)="resetFilters()">
    Reset
  </button>
</div>
