.container {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  justify-content: space-around;
}

.filter {
  color: white;
  border: white 1px solid;
  border-radius: 5px;
  padding: 12px;
  width: 200px;
  display: inline-block;
  height: 16px;
}

button {
  border: white 1px solid;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}

button:disabled {
  border-color: rgba(255, 255, 255, 0.6);
}
